<!-- <div class="list-group list-group-flush" >
  <div class="list-group-item list-group-item-action bg-light" routerLink ="knowledge">
     <button class='btn btn-lg' id="lala" style='background-color:transparent;' > 
        <div style='text-align:center;'><i class="fa fa-book"></i></div>  
        База знаний
      </button>
  </div>
  <div class="list-group-item list-group-item-action bg-light" routerLink ="tasks">
     <button class='btn btn-lg ' style='background-color:transparent;'> 
        <div style='text-align:center;'><i class="fa fa-file-text-o"></i></div>  
        Заявки
      </button>
  </div>
  <div class="list-group-item list-group-item-action bg-light" routerLink ="employees">
     <button class='btn btn-lg ' style='background-color:transparent;'> 
        <div style='text-align:center;'><i class="fa fa-users"></i></div>  
        Сотрудники
      </button>
  </div>
  <div class="list-group-item list-group-item-action bg-light" routerLink ="customers">
     <button class='btn btn-lg ' style='background-color:transparent;'> 
        <div style='text-align:center;'><i class="fa fa-building-o"></i></div>  
        Клиенты
      </button>
  </div>
  <div class="list-group-item list-group-item-action bg-light" routerLink ="actives">
     <button class='btn btn-lg ' style='background-color:transparent;'> 
        <div style='text-align:center;'><i class="fa fa-desktop"></i></div>  
        Активы
      </button>
  </div>
  <div class="list-group-item list-group-item-action bg-light" routerLink ="options">
     <button class='btn btn-lg ' style='background-color:transparent;'> 
        <div style='text-align:center;'><i class="fa fa-cog"></i></div>  
        Настройки
      </button>
  </div>
</div> -->

<ul class="flex-sm-column flex-row navbar-nav w-25 justify-content-between">
    <li class="nav-item">
        <button class='btn btn-sm' id="lala" style='background-color:transparent;' routerLink ="knowledge"> 
            <div style='text-align:center;'><i class="fa fa-book"></i></div>  
            База знаний
          </button>
    </li>
    <li class="nav-item">
        <button class='btn btn-sm ' style='background-color:transparent;' routerLink ="tasks"> 
            <div style='text-align:center;'><i class="fa fa-file-text-o"></i></div>  
            Заявки
          </button>
    </li>
    <li class="nav-item">
        <button class='btn btn-sm ' style='background-color:transparent;' routerLink ="employees"> 
            <div style='text-align:center;'><i class="fa fa-users"></i></div>  
            Сотрудники
          </button>
    </li>
    <li class="nav-item">
        <button class='btn btn-sm ' style='background-color:transparent;' routerLink ="customers"> 
            <div style='text-align:center;'><i class="fa fa-building-o"></i></div>  
            Клиенты
          </button>
    </li>
    <li class="nav-item">
        <button class='btn btn-sm ' style='background-color:transparent;' routerLink ="actives"> 
            <div style='text-align:center;'><i class="fa fa-desktop"></i></div>  
            Активы
          </button>
    </li>
    <li class="nav-item">
        <button class='btn btn-sm ' style='background-color:transparent;' routerLink ="options"> 
            <div style='text-align:center;'><i class="fa fa-cog"></i></div>  
            Настройки
          </button>
    </li>
</ul>
