// body {
//     font-family: "Lato", sans-serif;
//   }
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";  
@import "../node_modules/bootstrap/scss/bootstrap.scss";  


  button.btn .save{
    border-radius: 25px;
    padding: 3px 25px 3px 25px;
  }



body{
    color: #000;
}

