<!-- 
  <div class="grid-container">
    <div class="grid-item item1">
        № {{task.id}}
        {{task.name}}
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="grid-item item2">
        <form *ngIf="taskForm" [formGroup]="taskForm" (submit)="submitTask();">
            <div [innerHtml]="task.description"></div>
            <br>
            <label>Добавление комментариев</label>
            <textarea formControlName="comment"></textarea>
             <br>
            <button class="btn btn-primary btn-sm" type="submit">Сохранить</button>
        </form>
    </div>
    <div class="grid-item item3">
        <p><span class="dot" [ngStyle]="{ 'background-color': task.statusRgb }"></span><a class="statusName" (click)="showStatuses=!showStatuses;">{{task.statusName}}</a></p>
        <div *ngIf="showStatuses" class="user">
            <p *ngFor="let st of statuses" (click)="selectStatus(st)" class="executorName">
                <span class="dot" [ngStyle]="{ 'background-color': st.rgb }"></span><a class="executorName">{{st.name}}</a>
            </p>
        </div>

        <p>{{task.taskTypeName}}</p>
        <label>Заявитель</label>
        <p>{{task.initiatorName}}</p>

        <label>Приоритет</label>
        <p><a class="executorName" (click)="showPriorities=!showPriorities;" >{{task.priorityName}}</a></p>
        <div *ngIf="showPriorities" class="user">
            <p *ngFor="let pr of priorities" (click)="selectPriority(pr)" class="executorName">
                <a class="executorName">{{pr.name}}</a>
            </p>
        </div>
        <label>Исполнитель</label>
        <p><a class="executorName" (click)="showUsers=!showUsers;">{{task.executorName}}</a></p>
        <div *ngIf="showUsers" class="user">
            <p *ngFor="let user of users" (click)="selectExecutor(user)" class="executorName"><a class="executorName">{{user.name}}</a></p>
        </div>

        <label>Срок</label>
        <p>{{task.resolutionDatePlan | date: "dd.MM.y"}}</p>
        
        <label>Тэги</label>
        <br>
        <span *ngFor="let tag of task.tags" class="badge badge-pill badge-secondary">{{tag.name}}</span>
        <p><a class="executorName" (click)="enableTags(); showTags = !showTags">Добавить тэги</a></p>
        <div *ngIf="showTags">
            <span *ngFor="let tag of tags" class="badge badge-pill badge-secondary">{{tag.name}}</span>
        </div>

    </div>  
  </div> -->

  <div class="container">
    <div class="row">
        № {{task.id}}
        {{task.name}}
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<br>
    <div class="row">
        <div class="col">
            <form *ngIf="taskForm" [formGroup]="taskForm" (submit)="submitTask();">
                <div [innerHtml]="task.description"></div>
                <br>
                <label>Добавление комментариев</label>
                <textarea formControlName="comment"></textarea>
                 <br>
                <button class="btn btn-primary btn-sm save" type="submit">Сохранить</button>
            </form>
        </div>
        <div class="col">
            <p><span class="dot" [ngStyle]="{ 'background-color': task.statusRgb }"></span><a class="statusName" (click)="showStatuses=!showStatuses;">{{task.statusName}}</a></p>
            <div *ngIf="showStatuses" class="user">
                <p *ngFor="let st of statuses" (click)="selectStatus(st)" class="executorName">
                    <span class="dot" [ngStyle]="{ 'background-color': st.rgb }"></span><a class="executorName">{{st.name}}</a>
                </p>
            </div>
    
            <p>{{task.taskTypeName}}</p>
            <label>Заявитель</label>
            <p>{{task.initiatorName}}</p>
    
            <label>Приоритет</label>
            <p><a class="executorName" (click)="showPriorities=!showPriorities;" >{{task.priorityName}}</a></p>
            <div *ngIf="showPriorities" class="user">
                <p *ngFor="let pr of priorities" (click)="selectPriority(pr)" class="executorName">
                    <a class="executorName">{{pr.name}}</a>
                </p>
            </div>
            <label>Исполнитель</label>
            <p><a class="executorName" (click)="showUsers=!showUsers;">{{task.executorName}}</a></p>
            <div *ngIf="showUsers" class="user">
                <p *ngFor="let user of users" (click)="selectExecutor(user)" class="executorName"><a class="executorName">{{user.name}}</a></p>
            </div>
    
            <label>Срок</label>
            <p>{{task.resolutionDatePlan | date: "dd.MM.y"}}</p>
            
            <label>Тэги</label>
            <br>
            <span *ngFor="let tag of task.tags" class="badge badge-pill badge-secondary">{{tag.name}}</span>
            <p><a class="executorName" (click)="enableTags(); showTags = !showTags">Добавить тэги</a></p>
            <div *ngIf="showTags">
                <span *ngFor="let tag of tags" class="badge badge-pill badge-secondary">{{tag.name}}</span>
            </div>
        </div>
    </div>
  </div>



