
  label {
      font-size: 10px;
  }


  a.executorName{
    color: #8ab8e6;
  }

  a.statusName{
    color: #8ab8e6;
  }

  p.statusName{
    padding-left: 0;
    padding-right: 0;
  }

  div.users{
    z-index: 1;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }